######################
# Java
######################
*.class

# Package Files #
*.jar
*.war
*.ear

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath
/src/main/resources/rebel.xml

######################
# Directories
######################
/build/**
/bin/**
/spring_loaded/**
/deploy/**
/out/**

######################
# Logs
######################
*.log

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
